body{
	color: rgb(20,20,20);
	font-family: 'Lora', serif;
	font-size: 17px;
	background-color: #B9B9B9;
}
h1, h2, h3{
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: black;
	font-size: 32px;
	font-weight: 900;
}
h2 {
	color: #04101C;
	font-size: 24px;
	font-weight: bold;
}
a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #384444;
	font-weight: bold;
}
a:hover {
	color:rgb(50, 50, 50);
}
.container {
	width:700px;
	margin:40px auto;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
.card-white{
	background: white;
  padding: 60px;
  margin: 50px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin:20px 0px;
  text-align: center;
}
.img-circle{
	border-radius: 50%;
}
.list-horizontal{
	list-style: none;
	padding-left: 0px;
}
.list-horizontal li{
	display: inline;
	padding: 10px;
}
.list-horizontal i{
	font-size: 50px;
}
#introduction{
	font-weight: bold;
}
#introduction h1 h2{
	font-size: 32px;
}
.banner{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0)0%, rgba(0,0,0,0.2)50%), url(images/background.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}
.sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:#B7C6CE;
}
.page-content {
  margin-left: 150px;
}
.sidebar ul {
  list-style: none;
	padding-left: 0px;
}
.sidebar li{
	margin-bottom:6px;
}

/*#586F6C
